In [1]:
import pickle
import pandas as pd
from tensorflow.keras.models import load_model
import tensorflow as tf
import numpy as np

WARNING:tensorflow:From c:\Users\chinn\OneDrive\Desktop\projects\deepL\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
model = load_model('model.h5')
model.compile(optimizer='adam',loss='binary_crossentropy')
with open('LabelEncoder.pkl','rb') as file:
    le=pickle.load(file)
with open('StandardScaler.pkl','rb') as file:
    scaler=pickle.load(file)
with open('OneHotEncoder.pkl','rb') as file:
    oe=pickle.load(file)

WARNING:tensorflow:From c:\Users\chinn\OneDrive\Desktop\projects\deepL\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [4]:
df=pd.DataFrame(input_data,columns=list(input_data.keys()),index=[1])

In [5]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
1,600,France,Male,40,3,60000,2,1,1,50000

In [6]:
df['Gender']=le.transform(df['Gender'])

In [7]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
1,600,France,1,40,3,60000,2,1,1,50000

In [8]:
encoded=oe.transform(df[['Geography']]).toarray()
encoded_df=pd.DataFrame(encoded,columns=oe.get_feature_names_out())

In [9]:
encoded_df.index=df.index
data=pd.concat([df.drop('Geography',axis=1),encoded_df],axis=1)

In [10]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
1,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [11]:
data=scaler.transform(data)

In [12]:
pred=model.predict(data)
pred

1/1 [==============================] - 0s 113ms/step

array([[0.03816902]], dtype=float32)